/* Options :: Margins, Padding, Widths
------------------------------------ */

    .beeFlex #header,
    .beeFlex #footer {
        padding: 20px;
    }
    .beeFlex #extra {
        padding: 0 20px 20px 20px;
    }
    .beeFlex #main, .beeFlex #main section.center,
    .beeFlex #header section.center,
    .beeFlex #footer section.center,
    .beeFlex #extra section.center {
        margin: 0 20px;
    }
    .beeFlex #header aside, .beeFlex #footer aside, .beeFlex #extra aside, .beeFlex #main aside {
        min-width: 100px;
        max-width: 200px;
        /* ideally flex-box would flex better - but media queries plus min/max widths work */
    }

/* iPhone 4 and smaller
------------------------------------ */

@media only screen and (max-device-width: 960px) {
    .beeFlex #header,
    .beeFlex #footer {
        padding: 5px;
    }
    .beeFlex #extra {
        padding: 0 5px 5px 5px;
    }
    .beeFlex #footer {
        margin: 10px 0 0 0;
    }
    .beeFlex #main {
        margin: 0 5px;
    }
    .beeFlex #main section.center,
    .beeFlex #header section.center,
    .beeFlex #footer section.center,
    .beeFlex #extra section.center {
        margin: 0;
    }
    .beeFlex #header aside, .beeFlex #footer aside, .beeFlex #extra aside, .beeFlex #main aside {
        min-width: auto;
        max-width: auto;
        /* reset any min-width/max-width here - set to: auto */
        /* reset any fixed width here - set to: auto */
    }
}
