/* Common Elements
------------------------------------ */

    .insert {
        padding: 20px 0;
    }
    .insert p {
        margin: 8px 0;
    }
    .panel {
        margin: 20px 0;
        padding: 15px 20px;
    }
    .left .panel {
        -webkit-border-top-right-radius: 8px;
        -webkit-border-bottom-right-radius: 8px;
        -moz-border-radius-topright: 8px;
        -moz-border-radius-bottomright: 8px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    .right .panel {
        -webkit-border-top-left-radius: 8px;
        -webkit-border-bottom-left-radius: 8px;
        -moz-border-radius-topleft: 8px;
        -moz-border-radius-bottomleft: 8px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }

/* iPhone 4 and equivalent
------------------------------------ */

@media only screen and (max-device-width: 480px) {
    .insert {
        padding: 10px 5px;
    }
    .panel {
        margin: 0;
        padding: 5px 10px;
    }
    .right .panel {
        -webkit-border-top-left-radius: 0;
        -webkit-border-bottom-left-radius: 0;
        -moz-border-radius-topleft: 0;
        -moz-border-radius-bottomleft: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        -webkit-border-top-right-radius: 8px;
        -webkit-border-bottom-right-radius: 8px;
        -moz-border-radius-topright: 8px;
        -moz-border-radius-bottomright: 8px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}
