/* HTML5 Boilerplate Resets
------------------------------------ */

    html {
        overflow-y: visible;
    }
    ::-moz-selection {
        background: rgba(195,255,98,0.5); /* light green */
        color: #0d0d0d;
        text-shadow: none;
    }
    ::selection {
        background: rgba(195,255,98,0.5); /* light green */
        color: #0d0d0d;
        text-shadow: none;
    }
    a:link {
        -webkit-tap-highlight-color: rgba(195,255,98,0.5); /* light green */
    }

/* Common Elements
------------------------------------ */

    form {
        display: inline; /* default is block display */
    }
    input:focus, textarea:focus, select:focus {
        outline-width: 0; /* removes blue border in webkit */
    }
    select {
        cursor: pointer;
    }

/* Layout Elements
------------------------------------ */

    /* css2 tables :: FF3+ SF3+ CH3+ IE8+ */

    div.table {
        display: table;
    }
    div.row {
        display: table-row;
    }
    div.cell {
        display: table-cell;
        vertical-align: top;
    }

    /* css2 table cells :: horizontal alignment */

    div.cell.left {
        text-align: left;
    }
    div.cell.center {
        text-align: center;
    }
    div.cell.right {
        text-align: right;
    }

    /* css2 table cells :: vertical alignment */

    div.cell.top {
        vertical-align: top;
    }
    div.cell.middle {
        vertical-align: middle;
    }
    div.cell.bottom {
        vertical-align: bottom;
    }

    /* css2 display inline blocks :: FF3+ SF3+ CH3+ IE8+ */

    .block {
        display: inline-block;
        vertical-align: middle;
        /* todo: assume middle? */
    }

    /* css3 rounded corners :: FF3+ SF3+ CH4+ IE9+ */

    .round5 {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    .round8 {
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
    }
    .round10 {
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }
    .round15 {
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
    }
    .round20 {
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
    }

/* Animation Module */

    /* css3 transforms :: FF3.5+ SF3+ CH3+ */
    /* css3 transitions :: FF4+ SF3+ CH3+ */
    /* css3 animations :: SF4+ CH4+ */
    /* css3 3d transforms :: SF5+ */

    .beeFlip {
        position: relative;
        -webkit-perspective: 1000;
    }
    .beeFlip .flip {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0 10px; /* to accommodate flip */
        -webkit-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -webkit-transition: 0.75s;
    }
    .beeFlip .front {
        z-index: 5;
    }
    .beeFlip:hover .front {
        z-index: 5;
        -webkit-transform: rotateY(180deg);
    }
    .beeFlip .back {
        z-index: 0;
        -webkit-transform: rotateY(-180deg);
    }
    .beeFlip:hover .back {
        z-index: 10;
        -webkit-transform: rotateY(0deg);
    }

/* Internet Explorer
------------------------------------ */

    /* Layout Elements */

    .ie7 .table, .ie7 .row, .ie7 .cell, .ie6 .table, .ie6 .row, .ie6 .cell {
        display: block;
    }
    .ie7 .block, .ie6 .block {
        display: inline;
    }
