/* beeFlex :: horizontal content alignment
------------------------------------ */

.beeFlex .aligncenter {
    text-align: center;
}
.beeFlex .alignright {
    text-align: right;
}
.beeFlex .alignleft {
    text-align: left;
}

/* beeFlex :: vertical content alignment
------------------------------------ */

    /* set to top :: no css control currently */
