/* Horizontal Content Alignment
------------------------------------ */

    .beeFlex .aligncenter {
        text-align: center;
    }
    .beeFlex .alignright {
        text-align: right;
    }
    .beeFlex .alignleft {
        text-align: left;
    }

/* Vertical Content Alignment
------------------------------------ */

    /* set to top :: no css control currently */
