// // // // // configure // // // // //

    // sidebars

    $sidebarMinWidth: 180px;
    $sidebarMaxWidth: 280px;

    // column browser
    
    $columnBrowseMinWidth: 100px;
    $columnBrowseMaxWidth: 1000px;

    // overall margins and padding

    $paddingDefault: 20px;
    $paddingMobile: 5px;
    
    // paragraph margin top & bottom
    
    $paragraphMargin: 8px;

// // // // // auto-calcs // // // // //

    // edge case margins and padding

    $paddingDefault3Qtr: $paddingDefault * 0.75; /* 15px */
    $paddingDefaultHalf: $paddingDefault / 2; /* 10px */
    $paddingMobileTwice: $paddingMobile * 2; /* 10px */
    $roundedCornerDefault: $paragraphMargin; /* 8px */
