// // // // // configure // // // // //

    // accent shades

    $colorAccentHighlight: rgba(195,255,98,0.5); // day-glo green
    $colorAccentLight: #c3ff62; // light green
    $colorAccentDark: #619e00; // dark green

    // main shades

    $colorLight: #f2f2f2; // 95% gray
    $colorDark: #0d0d0d; // 5% gray

// // // // // auto-calcs // // // // //

    // variations on main shades

    $colorDark2x: lighten($colorDark, 5%); // 10% gray
    $colorDark3x: lighten($colorDark, 10%); // 15% gray
    $colorDark4x: lighten($colorDark, 15%); // 20% gray
    $colorDark5x: lighten($colorDark, 20%); // 25% gray

    $colorMid: lighten($colorDark, 35%); // 40% gray

    $colorLight5x: darken($colorLight, 22%); // 73% gray
    $colorLight4x: darken($colorLight, 17%); // 78% gray
    $colorLight3x: darken($colorLight, 7%); // 88% gray
    $colorLight2x: darken($colorLight, 2%); // 93% gray
