// // // // // configure // // // // //

    // sidebars

    $sidebarMinWidth: 180px;
    $sidebarMaxWidth: 280px;

    // column browser
    
    $columnBrowseMinWidth: 100px;
    $columnBrowseMaxWidth: 1000px;

    // overall margins and padding

    $paddingDefault: 20px;
    $paddingMobile: 5px;

// // // // // auto-calcs // // // // //

    // edge case margins and padding

    $paddingDefaultHalf: $paddingDefault / 2;
    $paddingMobileTwice: $paddingMobile * 2;
