// shades of green

    $greenHighlight: rgba(195,255,98,0.5); // day-glow green

    $greenLight: #c3ff62; // light green
    $greenDark: #619e00; // dark green

// shades of gray

    $grayLight: #f2f2f2; // 95% white
    $grayDark: #0d0d0d; // 95% black

    $gray10: #1a1a1a; // 10% gray
    $gray15: #262626; // 15% gray
    $gray20: #333; // 20% gray
    $gray25: #404040; // 25% gray
    $gray40: #666; // 40% gray
    $gray73: #bababa; // 73% gray
    $gray78: #c7c7c7; // 78% gray
    $gray88: #e0e0e0; // 88% gray
    $gray93: #eee; // 93% gray
