// Multiple Column Module
// SF 3+ FF 3.5+ CH 1+ OP 11+

    @mixin beeColumn($count: 2) {
        -webkit-column-count: $count;
        -moz-column-count: $count;
        column-count: $count;
        // iPhone 4 and equivalent
        @media only screen and (max-device-width: 480px) {
            -webkit-column-count: auto;
            -moz-column-count: auto;
            column-count: auto;
        }
    }
    @mixin beeColumnHeader {
        // following values not yet supported
        // -webkit-column-break-before: always;
        -webkit-column-break-after: avoid;
        -webkit-column-break-inside: avoid;
        // -moz-column-break-before: always;
        -moz-column-break-after: avoid;
        -moz-column-break-inside: avoid;
        // column-break-before: always;
        column-break-after: avoid;
        column-break-inside: avoid;
    }

// Rounded Corner Module
// SF 3+ FF 1+ CH 1+ OP 10.5+ IE9+

    @mixin beeRound($rounding: 5px) {
        -webkit-border-radius: $rounding;
        -moz-border-radius: $rounding;
        border-radius: $rounding;
    }
    @mixin beeRoundEllipse($roundingWidth,$roundingHeight) {
        -webkit-border-radius: $roundingWidth / $roundingHeight;
        -moz-border-radius: $roundingWidth / $roundingHeight;
        border-radius: $roundingWidth / $roundingHeight;
    }
    @mixin beeRoundAsymmetric($roundTopLeft,$roundTopRight,$roundBottomRight,$roundBottomLeft) {
        -webkit-border-top-left-radius: $roundTopLeft;
        -webkit-border-top-right-radius: $roundTopRight;
        -webkit-border-bottom-right-radius: $roundBottomRight;
        -webkit-border-bottom-left-radius: $roundBottomLeft;
        -moz-border-radius-topleft: $roundTopLeft;
        -moz-border-radius-topright: $roundTopRight;
        -moz-border-radius-bottomright: $roundBottomRight;
        -moz-border-radius-bottomleft: $roundBottomLeft;
        border-top-left-radius: $roundTopLeft;
        border-top-right-radius: $roundTopRight;
        border-bottom-right-radius: $roundBottomRight;
        border-bottom-left-radius: $roundBottomLeft;
    }
    @mixin beeRoundRemove {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

// Shadow Module
// SF 3+ FF 3.5+ CH 10+ OP 10.5+ IE9+ (box shadows)
// SF 1+ FF 3.5+ CH 1+ OP 9+ IE10+ (text shadows)

    @mixin beeShadow($type,$offset-x,$offset-y,$blur-radius,$spread-radius,$color) {
        @if $type == drop {
            -webkit-box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
            -moz-box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
            box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
        }
        @if $type == inset {
            -webkit-box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
            -moz-box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
            box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
        }
    }
    @mixin beeShadow2x($type,$offset-x,$offset-y,$blur-radius,$spread-radius,$color,$offset-x2,$offset-y2,$blur-radius2,$spread-radius2,$color2) {
        @if $type == drop-drop {
            -webkit-box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color, $offset-x2 $offset-y2 $blur-radius2 $spread-radius2 $color2;
            -moz-box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color, $offset-x2 $offset-y2 $blur-radius2 $spread-radius2 $color2;
            box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color, $offset-x2 $offset-y2 $blur-radius2 $spread-radius2 $color2;
        }
        @if $type == drop-inset {
            -webkit-box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color, inset $offset-x2 $offset-y2 $blur-radius2 $spread-radius2 $color2;
            -moz-box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color, inset $offset-x2 $offset-y2 $blur-radius2 $spread-radius2 $color2;
            box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color, inset $offset-x2 $offset-y2 $blur-radius2 $spread-radius2 $color2;
        }
        @if $type == inset-drop {
            -webkit-box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color, $offset-x2 $offset-y2 $blur-radius2 $spread-radius2 $color2;
            -moz-box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color, $offset-x2 $offset-y2 $blur-radius2 $spread-radius2 $color2;
            box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color, $offset-x2 $offset-y2 $blur-radius2 $spread-radius2 $color2;
        }
        @if $type == inset-inset {
            -webkit-box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color, inset $offset-x2 $offset-y2 $blur-radius2 $spread-radius2 $color2;
            -moz-box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color, inset $offset-x2 $offset-y2 $blur-radius2 $spread-radius2 $color2;
            box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color, inset $offset-x2 $offset-y2 $blur-radius2 $spread-radius2 $color2;
        }
    }
    @mixin beeShadowRemove {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -box-shadow: none;
    }
    @mixin beeTextShadow($offset-x,$offset-y,$blur-radius,$color) {
        text-shadow: $offset-x $offset-y $blur-radius $color;
    }
    @mixin beeTextShadow2x($offset-x,$offset-y,$blur-radius,$color,$offset-x2,$offset-y2,$blur-radius2,$color2) {
        text-shadow: $offset-x $offset-y $blur-radius $color, $offset-x2 $offset-y2 $blur-radius2 $color2;
    }

// Animation Module
// SF 3+ FF 4+ CH 1+ OP 10.5+ IE10? (transitions not animations)

    @mixin beeTransition($property,$duration,$easing,$delay) {
        -webkit-transition: $property $duration $easing $delay;
        -moz-transition: $property $duration $easing $delay;
        transition: $property $duration $easing $delay;
    }
    @mixin beeTransition2x($property,$duration,$easing,$delay,$property2,$duration2,$easing2,$delay2) {
        -webkit-transition: $property $duration $easing $delay, $property2 $duration2 $easing2 $delay2;
        -moz-transition: $property $duration $easing $delay, $property2 $duration2 $easing2 $delay2;
        transition: $property $duration $easing $delay, $property2 $duration2 $easing2 $delay2;
    }
    @mixin beeAnimation($name,$duration,$easing,$delay,$iterations,$direction) {
        -webkit-animation: $name $duration $easing $delay $iterations $direction;
        -moz-animation: $name $duration $easing $delay $iterations $direction;
        animation: $name $duration $easing $delay $iterations $direction;
    }
    @mixin beeAnimationRemove {
        -webkit-animation: none;
        -moz-animation: none;
        animation: none;
    }
