@import "dev-beeflex-config";

/* Options :: Margins, Padding, Widths
------------------------------------ */

.beeFlex {

   #header,
    #footer {
        padding: $paddingDefault;
        // iPhone 4 and equivalent
        @media only screen and (max-device-width: 480px) {
            padding: $paddingMobile;
        }
    }
    #extra {
        padding: 0 $paddingDefault $paddingDefault $paddingDefault;
        // iPhone 4 and equivalent
        @media only screen and (max-device-width: 480px) {
            padding: 0 $paddingMobile $paddingMobile $paddingMobile;
        }
    }
    #main, #main section.center,
    #header section.center,
    #footer section.center,
    #extra section.center {
        margin: 0 $paddingDefault;
        // iPhone 4 and equivalent
        @media only screen and (max-device-width: 480px) {
            margin: 0;
        }
    }
    #header aside, #footer aside, #extra aside, #main aside {
        // for fixed width sidebars set width w/o min/max
        min-width: $sidebarMinWidth;
        max-width: $sidebarMaxWidth;
        // iPhone 4 and equivalent
        @media only screen and (max-device-width: 480px) {
            min-width: inherit;
            max-width: inherit;
        }
    }
    // iPhone 4 and equivalent
    #main {
        @media only screen and (max-device-width: 480px) {
            margin: 0 $paddingMobile;
        }
    }
    // iPhone 4 and equivalent
    #footer {
        @media only screen and (max-device-width: 480px) {
            margin: $paddingMobileTwice 0 0 0;
        }
    }
    .beeColumnBrowse section {
        padding: 0 $paddingDefaultHalf;
    }
    .beeColumnBrowse section:first-child {
        padding-left: 0;
    }
    .beeColumnBrowse section:last-child {
        padding-right: 0;
    }

}
