@import "dev-beestyle-mixins";

/* HTML5 Boilerplate Resets
------------------------------------ */

    html {
        overflow-y: visible; // default is visible not scroll
    }

/* Form Element Resets
------------------------------------ */

    form {
        display: inline; // default is block display
    }
    input, textarea, select, button {
        &:focus {
            outline-width: 0; // default is browser-specific
        }
    }
    select {
        cursor: pointer; // default is arrow pointer
    }

/* Table Module
------------------------------------ */

    .beeTable {
        display: table;
        div.row {
            display: table-row;
        }
        div.cell {
            display: table-cell;
            vertical-align: top;
        }
        // horizontal alignment
        div.cell.left {
            text-align: left;
        }
        div.cell.center {
            text-align: center;
        }
        div.cell.right {
            text-align: right;
        }
        // vertical alignment
        div.cell.top {
            vertical-align: top;
        }
        div.cell.middle {
            vertical-align: middle;
        }
        div.cell.bottom {
            vertical-align: bottom;
        }
    }
    .beeTable.expand {
        width: 100%;
        height: 100%;
    }

/* Matrix Module
------------------------------------ */

    .beeMatrix > div {
        display: inline-block;
    }
    .beeMatrix.top > div {
        vertical-align: top;
    }
    .beeMatrix.middle > div {
        vertical-align: middle;
    }
    .beeMatrix.bottom > div {
        vertical-align: bottom;
    }

/* Multiple Column Module
------------------------------------ */

    .beeColumn2 {
        @include beeColumn;
        h1, h2, h3, h4, h5, h6 {
            @include beeColumnHeader;
        }
    }
    .beeColumn3 {
        @include beeColumn(3);
        h1, h2, h3, h4, h5, h6 {
            @include beeColumnHeader;
        }
    }
    .beeColumn4 {
        @include beeColumn(4);
        h1, h2, h3, h4, h5, h6 {
            @include beeColumnHeader;
        }
    }

/* Rounded Corner Module
------------------------------------ */

    .beeRound5 {
        @include beeRound;
    }
    .beeRound8 {
        @include beeRound(8px);
    }
    .beeRound10 {
        @include beeRound(10px);
    }
    .beeRound15 {
        @include beeRound(15px);
    }
    .beeRound20 {
        @include beeRound(20px);
    }

/* Animation Module
------------------------------------ */

    .beeFlip {
        position: relative;
        -webkit-perspective: 1000;
        .flip {
            position: absolute;
            top: 0;
            left: 0;
            -webkit-transform-style: preserve-3d;
            -webkit-backface-visibility: hidden;
            -webkit-transition: 0.75s;
        }
        .front {
            z-index: 5;
        }
        .back {
            z-index: 0;
            -webkit-transform: rotateY(-180deg);
        }
    }
    .beeFlip:hover .front {
        z-index: 5;
        -webkit-transform: rotateY(180deg);
    }
    .beeFlip:hover .back {
        z-index: 10;
        -webkit-transform: rotateY(0deg);
    }
