@import "dev-beeflex-config";

/* Main Content Insert & Sidebar Panels
------------------------------------ */

    @mixin beeRoundCustom($roundTopRight,$roundBottomRight,$roundTopLeft,$roundBottomLeft) {
        -webkit-border-top-right-radius: $roundTopRight;
        -webkit-border-bottom-right-radius: $roundBottomRight;
        -webkit-border-top-left-radius: $roundTopLeft;
        -webkit-border-bottom-left-radius: $roundBottomLeft;
        -moz-border-radius-topright: $roundTopRight;
        -moz-border-radius-bottomright: $roundBottomRight;
        -moz-border-radius-topleft: $roundTopLeft;
        -moz-border-radius-bottomleft: $roundBottomLeft;
        border-top-right-radius: $roundTopRight;
        border-bottom-right-radius: $roundBottomRight;
        border-top-left-radius: $roundTopLeft;
        border-bottom-left-radius: $roundBottomLeft;
    }

.beeFlex {

    .insert {
        padding: $paddingDefault 0;
        @media only screen and (max-device-width: 480px) {
            padding: $paddingMobileTwice $paddingMobileTwice $paddingMobile $paddingMobileTwice;
        }
    }
    .insert p {
        margin: $paragraphMargin 0;
    }
    .panel {
        margin: $paddingDefault 0;
        padding: $paddingDefault3Qtr $paddingDefault;
        @media only screen and (max-device-width: 480px) {
            margin: 0;
            padding: 0 $paddingMobileTwice $paddingMobileTwice $paddingMobileTwice;
        }
    }
    .left .panel {
        @include beeRoundCustom($roundedCornerDefault,$roundedCornerDefault,0,0);
        @media only screen and (max-device-width: 480px) {
            @include beeRoundCustom(0,0,0,0);
        }
    }
    .right .panel {
        @include beeRoundCustom(0,0,$roundedCornerDefault,$roundedCornerDefault);
        @media only screen and (max-device-width: 480px) {
            @include beeRoundCustom(0,0,0,0);
        }
    }

}
