/* Configure beeFlip
------------------------------------ */

.beeFlip .flip {
    margin: 0; /* reset beestyle-core from 0 10px */
}

/* Configure beeSlides
------------------------------------ */

/* width and height configuration */
/* height may be calculated automatically only if no beeFlip */

.beeSlides .slides_container, .beeSlides .slides_container div.slide {
    width: 510px; /* configure width */
    height: 160px; /* allow 10px at bottom for beeFlip */
}
.beeSlides .next {
    left: 516px; /* configure position based on .beeSlides .slides_container width */
}
.beeSlides .prev {
    left: -30px; /* configure based on size of previous button image */
}
.beeSlides .next img, .beeSlides .prev img {
    width: 24px;
    height: 43px;
}
.beeSlides .next, .beeSlides .prev {
    top: 52px; /* though .beeSlides height may be calculated automatically, still need to set relative height of controls */
}
.beeSlides .item {
    width: 150px; /* configure width */
    height: 150px; /* though .beeSlides height may be calculated automatically, still need to set item height */
    margin: 0 10px; /* take these margins into account in width of .beeSlides .slides_container */
}

/* beeSlides layout
------------------------------------ */

.beeSlides {
    position: relative; /* setup as non-static for absolute positioning relative to this container */
    display: inline-block; /* automatically sets width of .beeSlides so this element can be centered */
}
.beeSlides .slides_container {
    display: none; /* prevents content flash */
}
.beeSlides .slides_container div.slide {
    display: block;
}
.beeSlides .next, .beeSlides .prev {
    display: none;
    position: absolute;
    z-index: 101;
}
.beeSlides .pagination {
    list-style: none;
    margin: 10px 0 20px 0;
    padding: 0;
    display: inline-block;
}
.beeSlides .pagination li {
    float: left;
    margin: 0 1px;
}
.beeSlides .pagination li a {
    display: block;
    float: left;
    overflow: hidden;
    width: 12px;
    height: 0;
    padding-top: 12px;
    background-image: url(../images/slides/pagination.png);
    background-position: 0 0;
}
.beeSlides .pagination li.current a {
    background-position: 0 -12px;
}
.beeSlides .item {
    float: left;
}

/* iPhone 4 and equivalent
------------------------------------ */

@media only screen and (max-device-width: 480px) {
    .beeSlides .slides_container, .beeSlides .slides_container div.slide {
        width: 255px; /* configure width */
        height: 85px; /* allow 10px at bottom for beeFlip */
    }
    .beeSlides .next {
        left: 261px; /* configure position based on .beeSlides .slides_container width */
    }
    .beeSlides .prev {
        left: -15px; /* configure based on size of previous button image */
    }
    .beeSlides .next, .beeSlides .prev {
        top: 25px; /* though .beeSlides height may be calculated automatically, still need to set relative height of controls */
    }
    .beeSlides .next img, .beeSlides .prev img {
        width: 12px;
        height: 21px;
    }
    .beeSlides .item {
        margin: 0 5px; /* take these margins into account in width of .beeSlides .slides_container */
    }
    .beeSlides .item, .beeSlides .item img {
        width: 75px; /* configure width */
        height: 75px; /* though .beeSlides height may be calculated automatically, still need to set item height */
    }
}

/* Javascript off
------------------------------------ */

    .no-js .beeSlides .pagination {
        display: none;
    }
    .no-js .beeSlides .slides_container {
        display: block;
        overflow: hidden;
    }
