/* Multiple Column Module
------------------------------------ */
/* Rounded Corner Module
------------------------------------ */
/* Shadow Module
------------------------------------ */
/* HTML5 Boilerplate Resets
------------------------------------ */
::-moz-selection {
  background: rgba(195, 255, 98, 0.5);
  color: #0d0d0d;
}

::selection {
  background: rgba(195, 255, 98, 0.5);
  color: #0d0d0d;
}

body.beeLight {
  /* Common Elements
  ------------------------------------ */
  color: #333333;
  background-color: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#ededed));
  background: -moz-linear-gradient(top center, #e0e0e0, #ededed);
  text-shadow: 0 1px 1px white;
  /* Shadow Module
  ------------------------------------ */
  /* Layout Elements
  ------------------------------------ */
}
body.beeLight hr {
  border-top: 1px solid #666666;
}
body.beeLight a, body.beeLight a:active, body.beeLight a:visited, body.beeLight a:hover {
  color: #619e00;
}
body.beeLight select, body.beeLight input, body.beeLight textarea {
  color: #333333;
  background-color: #ededed;
  border: 1px solid #333333;
}
body.beeLight .beeShadow {
  margin: 10px;
  -webkit-box-shadow: 0 0 10px 0 #333333;
  -moz-box-shadow: 0 0 10px 0 #333333;
  box-shadow: 0 0 10px 0 #333333;
}
body.beeLight .beeFlex .panel, body.beeLight .beeFlex #header, body.beeLight .beeFlex #footer {
  color: #ededed;
  background-color: #333333;
  text-shadow: 0 -1px 1px black;
}
@media only screen and (max-device-width: 480px) {
  body.beeLight .beeFlex .panel {
    color: #333333;
    background-color: transparent;
    text-shadow: 0 1px 1px white;
  }
}
body.beeLight .beeFlex #header {
  background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#404040));
  background: -moz-linear-gradient(top center, #333333, #404040);
  -webkit-box-shadow: 0 1px 8px 0 #bababa, inset 0 0 12px 0 #272727;
  -moz-box-shadow: 0 1px 8px 0 #bababa, inset 0 0 12px 0 #272727;
  box-shadow: 0 1px 8px 0 #bababa, inset 0 0 12px 0 #272727;
}
body.beeLight .beeFlex #footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#404040), to(#333333));
  background: -moz-linear-gradient(top center, #404040, #333333);
  -webkit-box-shadow: 0 -1px 8px 0 #c7c7c7, inset 0 0 12px 0 #272727;
  -moz-box-shadow: 0 -1px 8px 0 #c7c7c7, inset 0 0 12px 0 #272727;
  box-shadow: 0 -1px 8px 0 #c7c7c7, inset 0 0 12px 0 #272727;
}
body.beeLight .beeFlex .left .panel {
  background: -webkit-gradient(linear, left top, right top, from(#333333), to(#404040));
  background: -moz-linear-gradient(left center, #333333, #404040);
}
body.beeLight .beeFlex .right .panel {
  background: -webkit-gradient(linear, left top, right top, from(#404040), to(#333333));
  background: -moz-linear-gradient(left center, #404040, #333333);
}
body.beeLight .beeFlex .left .panel, body.beeLight .beeFlex .right .panel {
  -webkit-box-shadow: inset 0 0 6px 0 #272727;
  -moz-box-shadow: inset 0 0 6px 0 #272727;
  box-shadow: inset 0 0 6px 0 #272727;
}
@media only screen and (max-device-width: 480px) {
  body.beeLight .beeFlex .left .panel, body.beeLight .beeFlex .right .panel {
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -box-shadow: none;
  }
}
body.beeLight .beeFlex .panel a, body.beeLight .beeFlex .panel a:active, body.beeLight .beeFlex .panel a:visited, body.beeLight .beeFlex .panel a:hover,
body.beeLight .beeFlex #header a, body.beeLight .beeFlex #header a:active, body.beeLight .beeFlex #header a:visited, body.beeLight .beeFlex #header a:hover,
body.beeLight .beeFlex #footer a, body.beeLight .beeFlex #footer a:active, body.beeLight .beeFlex #footer a:visited, body.beeLight .beeFlex #footer a:hover {
  color: #c3ff62;
}
@media only screen and (max-device-width: 480px) {
  body.beeLight .beeFlex .panel a, body.beeLight .beeFlex .panel a:active, body.beeLight .beeFlex .panel a:visited, body.beeLight .beeFlex .panel a:hover {
    color: #619e00;
  }
}
