/* Initial Setup
------------------------------------ */

html, body {
    width: 100%;
    height: 100%;
}
.beeFlex {
    width: 100%;
    min-height: 100%;
}

/* iPhone 4 and equivalent
------------------------------------ */

@media only screen and (max-device-width: 480px) {
    html, body {
        height: auto;
    }
    .beeFlex {
        min-height: auto;
    }
}

/* Layout Elements
------------------------------------ */

.beeFlex,
.beeFlex .beeColumnBrowse,
.beeFlex #header, .beeFlex #header section, .beeFlex #header aside,
.beeFlex #footer, .beeFlex #footer section, .beeFlex #footer aside,
.beeFlex #extra, .beeFlex #extra section, .beeFlex #extra aside,
.beeFlex #main, .beeFlex #main section, .beeFlex #main aside {
    display: -moz-box;
    display: -webkit-box;
    display: box;
}
.beeFlex,
.beeFlex .beeColumnBrowse section,
.beeFlex #header section, .beeFlex #header aside,
.beeFlex #footer section, .beeFlex #footer aside,
.beeFlex #extra section, .beeFlex #extra aside,
.beeFlex #main section, .beeFlex #main aside {
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    box-orient: vertical;
}
.beeFlex .beeColumnBrowse,
.beeFlex #header,
.beeFlex #footer,
.beeFlex #extra,
.beeFlex #main {
    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    box-orient: horizontal;
}
.beeFlex,
.beeFlex .beeColumnBrowse,
.beeFlex #main, .beeFlex #main aside {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
}
.beeFlex #header section,
.beeFlex #footer section,
.beeFlex #extra section,
.beeFlex #main section {
    -moz-box-flex: 3;
    -webkit-box-flex: 3;
    box-flex: 3;
}
.beeFlex #header section.center,
.beeFlex #footer section.center,
.beeFlex #extra section.center,
.beeFlex #main section.center {
    -moz-box-ordinal-group: 2;
    -webkit-box-ordinal-group: 2;
    box-ordinal-group: 2;
}
.beeFlex #header aside.left,
.beeFlex #footer aside.left,
.beeFlex #extra aside.left,
.beeFlex #main aside.left {
    -moz-box-ordinal-group: 1;
    -webkit-box-ordinal-group: 1;
    box-ordinal-group: 1;
}
.beeFlex #header aside.right,
.beeFlex #footer aside.right,
.beeFlex #extra aside.right,
.beeFlex #main aside.right {
    -moz-box-ordinal-group: 3;
    -webkit-box-ordinal-group: 3;
    box-ordinal-group: 3;
}

/* iPhone 4 and equivalent
------------------------------------ */

@media only screen and (max-device-width: 480px) {
    .beeFlex #header,
    .beeFlex #footer,
    .beeFlex #extra,
    .beeFlex #main {
        -moz-box-orient: vertical;
        -webkit-box-orient: vertical;
        box-orient: vertical;
    }
    .beeFlex #header section,
    .beeFlex #footer section,
    .beeFlex #extra section,
    .beeFlex #main section {
        -moz-box-flex: 1;
        -webkit-box-flex: 1;
        box-flex: 1;
    }
    .beeFlex #header section.center,
    .beeFlex #footer section.center,
    .beeFlex #extra section.center,
    .beeFlex #main section.center {
        -moz-box-ordinal-group: 1;
        -webkit-box-ordinal-group: 1;
        box-ordinal-group: 1;
    }
    .beeFlex #header aside.left,
    .beeFlex #footer aside.left,
    .beeFlex #extra aside.left,
    .beeFlex #main aside.left {
        -moz-box-ordinal-group: 2;
        -webkit-box-ordinal-group: 2;
        box-ordinal-group: 2;
    }
}
