/* Common Elements
------------------------------------ */

    body.beeLight {
        color: #333; /* 20% gray */
        background-color: #eee; /* 93% gray */
        background: -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#eee)); /* 88% gray to 93% gray */
        background: -moz-linear-gradient(top center, #e0e0e0, #eee); /* 88% gray to 93% gray */
        text-shadow: 0 1px 1px #fff; /* indented look */
    }
    .beeLight hr {
        border-top: 1px solid #666; /* 40% gray */
    }
    
    /* Links */
    
    .beeLight a, .beeLight a:active, .beeLight a:visited, .beeLight a:hover {
        color: #619e00; /* dark green */
    }
    
    /* Forms */
    
    .beeLight select, .beeLight input, .beeLight textarea {
        color: #333; /* 20% gray */
        background-color: #eee; /* 93% gray */
        border: 1px solid #333; /* 20% gray */
    }

/* Shadow Module
------------------------------------ */

    .beeLight .beeShadow {
        margin: 10px; /* to accommodate shadow */
        -webkit-box-shadow: 0 0 10px #333; /* 20% gray */
        -moz-box-shadow: 0 0 10px #333; /* 20% gray */
        box-shadow: 0 0 10px #333; /* 20% gray */
    }

/* Layout Elements
------------------------------------ */

    .beeLight .beeFlex .panel, .beeLight .beeFlex #header, .beeLight .beeFlex #footer {
        color: #eee; /* 93% gray */
        background-color: #333; /* 20% gray */
        text-shadow: 0 1px 1px #000; /* indented look */
    }
    .beeLight .beeFlex #header {
        background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#404040)); /* 20% gray to 25% gray */
        background: -moz-linear-gradient(top center, #333, #404040); /* 20% gray to 25% gray */
        -webkit-box-shadow: 0 1px 8px #bababa, 0 0 12px #262626 inset; /* 73% gray, 15% gray */
        -moz-box-shadow: 0 1px 8px #bababa, 0 0 12px #262626 inset; /* 73% gray, 15% gray */
        box-shadow: 0 1px 8px #bababa, 0 0 12px #262626 inset; /* 73% gray, 15% gray */
    }
    .beeLight .beeFlex #footer {
        background: -webkit-gradient(linear, left top, left bottom, from(#404040), to(#333)); /* 25% gray to 20% gray */
        background: -moz-linear-gradient(top center, #404040, #333); /* 25% gray to 20% gray */
        -webkit-box-shadow: 0 -1px 8px #c7c7c7, 0 0 12px #262626 inset; /* 78% gray, 15% gray */
        -moz-box-shadow: 0 -1px 8px #c7c7c7, 0 0 12px #262626 inset; /* 78% gray, 15% gray */
        box-shadow: 0 -1px 8px #c7c7c7, 0 0 12px #262626 inset; /* 78% gray, 15% gray */
    }
    .beeLight .beeFlex .left .panel {
        background: -webkit-gradient(linear, left top, right top, from(#333), to(#404040)); /* 20% gray to 25% gray */
        background: -moz-linear-gradient(left center, #333, #404040); /* 20% gray to 25% gray */
    }
    .beeLight .beeFlex .right .panel {
        background: -webkit-gradient(linear, left top, right top, from(#404040), to(#333)); /* 25% gray to 20% gray */
        background: -moz-linear-gradient(left center, #404040, #333); /* 25% gray to 20% gray */
    }
    .beeLight .beeFlex .left .panel, .beeLight .beeFlex .right .panel {
        -webkit-box-shadow: 0 0 6px #262626 inset; /* 15% gray */
        -moz-box-shadow: 0 0 6px #262626 inset; /* 15% gray */
        -box-shadow: 0 0 6px #262626 inset; /* 15% gray */
    }
    
    /* Links */
    
    .beeLight .beeFlex .panel a, .beeLight .beeFlex .panel a:active, .beeLight .beeFlex .panel a:visited, .beeLight .beeFlex .panel a:hover,
    .beeLight .beeFlex #header a, .beeLight .beeFlex #header a:active, .beeLight .beeFlex #header a:visited, .beeLight .beeFlex #header a:hover,
    .beeLight .beeFlex #footer a, .beeLight .beeFlex #footer a:active, .beeLight .beeFlex #footer a:visited, .beeLight .beeFlex #footer a:hover {
        color: #c3ff62; /* light green */
    }

/* iPhone 4 and equivalent
------------------------------------ */

@media only screen and (max-device-width: 480px) {
    .beeLight .beeFlex .panel {
        color: #333; /* 20% gray */
        background-color: transparent;
        text-shadow: 0 1px 1px #fff; /* indented look */
    }
    .beeLight .beeFlex .left .panel,
    .beeLight .beeFlex .right .panel {
        background-image: none;
    }
    .beeLight .beeFlex .left .panel, .beeLight .beeFlex .right .panel {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -box-shadow: none;
    }
    .beeLight .beeFlex .panel a, .beeLight .beeFlex .panel a:active, .beeLight .beeFlex .panel a:visited, .beeLight .beeFlex .panel a:hover {
        color: #619e00; /* dark green */
    }
}
