@import "dev-beeflex-config";
@import "dev-beeflex-mixins";

/* Initial Setup
------------------------------------ */

    html, body {
        width: 100%;
        height: 100%;
        // iPhone 4 and equivalent
        @media only screen and (max-device-width: 480px) {
            height: auto;
        }
    }
    .beeFlex,
    .beeFlex .beeColumnBrowse {
        width: 100%;
        min-height: 100%;
        // iPhone 4 and equivalent
        @media only screen and (max-device-width: 480px) {
            min-height: auto;
        }
    }

/* Layout Engine
------------------------------------ */

.beeFlex {

    @include beeFlexSetup;
    @include beeFlexOrientation;
    @include beeFlexRelativeFlex;

    // Setup

    .beeColumnBrowse, .beeColumnBrowse section,
    #header, #header section, #header aside,
    #footer, #footer section, #footer aside,
    #extra, #extra section, #extra aside,
    #main, #main section, #main aside {
        @include beeFlexSetup;
    }

    // Orientation

    .beeColumnBrowse section,
    #header section, #header aside,
    #footer section, #footer aside,
    #extra section, #extra aside,
    #main section, #main aside {
        @include beeFlexOrientation;
    }
    .beeColumnBrowse,
    #header,
    #footer,
    #extra,
    #main {
        @include beeFlexOrientation(horizontal);
        // iPhone 4 and equivalent
        @media only screen and (max-device-width: 480px) {
            @include beeFlexOrientation;
        }
    }

    // Relative Flex

    .beeColumnBrowse,
    #main, #main aside {
        @include beeFlexRelativeFlex;
    }
    #header section,
    #footer section,
    #extra section,
    #main section {
        @include beeFlexRelativeFlex(3);
        // iPhone 4 and equivalent
        @media only screen and (max-device-width: 480px) {
            @include beeFlexRelativeFlex;
        }
    }

    // Rendering Order

    #header section.center,
    #footer section.center,
    #extra section.center,
    #main section.center {
        @include beeFlexRenderingOrder(2);
        // iPhone 4 and equivalent
        @media only screen and (max-device-width: 480px) {
            @include beeFlexRenderingOrder(1);
        }
    }
    #header aside.left,
    #footer aside.left,
    #extra aside.left,
    #main aside.left {
        @include beeFlexRenderingOrder(1);
        // iPhone 4 and equivalent
        @media only screen and (max-device-width: 480px) {
            @include beeFlexRenderingOrder(2);
        }
    }
    #header aside.right,
    #footer aside.right,
    #extra aside.right,
    #main aside.right {
        @include beeFlexRenderingOrder(3);
    }

    // Inner Scrolling

    div.scroll, div.beeColumnBrowse section {
        overflow-y: auto;
    }
    div.beeColumnBrowse section {
        min-width: $columnBrowseMinWidth;
        max-width: $columnBrowseMaxWidth;
    }

    // Alignment Options (horizontal only, vertical defaults to top with no css control currently)

    .aligncenter {
        text-align: center;
    }
    .alignright {
        text-align: right;
    }
    .alignleft {
        text-align: left;
    }
    #main section.alignright, #main aside.alignright {
        // iPhone 4 and equivalent
        @media only screen and (max-device-width: 480px) {
            text-align: left;
        }
    }

    // Margins, Padding, Widths

    #header,
    #footer {
        padding: $paddingDefault;
        // iPhone 4 and equivalent
        @media only screen and (max-device-width: 480px) {
            padding: $paddingMobile;
        }
    }
    #extra {
        padding: $paddingDefault $paddingDefault 0 $paddingDefault;
        // iPhone 4 and equivalent
        @media only screen and (max-device-width: 480px) {
            padding: $paddingMobile $paddingMobile 0 $paddingMobile;
        }
    }
    #main section.center,
    #header section.center,
    #footer section.center,
    #extra section.center {
        margin: 0 $paddingDefault;
        // iPhone 4 and equivalent
        @media only screen and (max-device-width: 480px) {
            margin: 0;
        }
    }
    #header aside, #footer aside, #extra aside, #main aside {
        // for fixed width sidebars set width w/o min/max
        min-width: $sidebarMinWidth;
        max-width: $sidebarMaxWidth;
        // iPhone 4 and equivalent
        @media only screen and (max-device-width: 480px) {
            min-width: inherit;
            max-width: inherit;
        }
    }
    .beeColumnBrowse section {
        padding: 0 $paddingDefaultHalf;
    }
    .beeColumnBrowse section:first-child {
        padding-left: 0;
    }
    .beeColumnBrowse section:last-child {
        padding-right: 0;
    }

}
