@import "dev-beeflex-config";
@import "dev-beestyle-mixins";

/* Main Content Insert & Sidebar Panels
------------------------------------ */

.beeFlex {

    .insert {
        padding: $paddingDefault 0;
        @media only screen and (max-device-width: 480px) {
            padding: $paddingMobileTwice $paddingMobileTwice $paddingMobile $paddingMobileTwice;
        }
    }
    .insert p {
        margin: $paragraphMargin 0;
    }
    .panel {
        margin: $paddingDefault 0;
        padding: $paddingDefault3Qtr $paddingDefault;
        @media only screen and (max-device-width: 480px) {
            margin: 0;
            padding: 0 $paddingMobileTwice $paddingMobileTwice $paddingMobileTwice;
        }
    }
    .left .panel {
        @include beeRoundAsymmetric(0,$roundedCornerDefault,$roundedCornerDefault,0);
        @media only screen and (max-device-width: 480px) {
            @include beeRoundRemove;
        }
    }
    .right .panel {
        @include beeRoundAsymmetric($roundedCornerDefault,0,0,$roundedCornerDefault);
        @media only screen and (max-device-width: 480px) {
            @include beeRoundRemove;
        }
    }

}
