@import "dev-beestyle-colors";

/* HTML5 Boilerplate Resets
------------------------------------ */

    // selection declarations must be separate and unthemed
    ::-moz-selection {
        background: $colorAccentHighlight;
        color: $colorDark;
    }
    ::selection {
        background: $colorAccentHighlight;
        color: $colorDark;
    }

body.beeDark {

/* Common Elements
------------------------------------ */

    color: $colorLight2x;
    background-color: $colorDark4x;
    background: -webkit-gradient(linear, left top, left bottom, from($colorDark4x), to($colorDark5x));
    background: -moz-linear-gradient(top center, $colorDark4x, $colorDark5x);
    text-shadow: 0 -1px 1px black; // indented look

    hr {
        border-top: 1px solid $colorLight5x;
    }
    
    // Links
    
    a, a:active, a:visited, a:hover {
        color: $colorAccentLight;
    }
    
    // Forms
    
    select, input, textarea {
        color: $colorLight2x;
        background-color: $colorDark4x;
        border: 1px solid $colorLight2x;
    }

/* Shadow Module
------------------------------------ */

    .beeShadow {
        margin: 10px; // to accommodate shadow
        -webkit-box-shadow: 0 0 10px $colorLight2x;
        -moz-box-shadow: 0 0 10px $colorLight2x;
        box-shadow: 0 0 10px $colorLight2x;
    }

/* Layout Elements
------------------------------------ */

    .beeFlex {
        .panel, #header, #footer {
            color: $colorDark4x;
            background-color: $colorLight2x;
            text-shadow: 0 1px 1px white; // indented look
        }
        .panel {
            // iPhone 4 and equivalent
            @media only screen and (max-device-width: 480px) {
                color: $colorLight2x;
                background-color: transparent;
                text-shadow: 0 -1px 1px black; // indented look
            }
        }
        #header {
            background: -webkit-gradient(linear, left top, left bottom, from($colorLight3x), to($colorLight2x));
            background: -moz-linear-gradient(top center, $colorLight3x, $colorLight2x);
            -webkit-box-shadow: 0 1px 8px $colorDark2x, 0 0 12px $colorLight5x inset;
            -moz-box-shadow: 0 1px 8px $colorDark2x, 0 0 12px $colorLight5x inset;
            box-shadow: 0 1px 8px $colorDark2x, 0 0 12px $colorLight5x inset;
        }
        #footer {
            background: -webkit-gradient(linear, left top, left bottom, from($colorLight2x), to($colorLight3x));
            background: -moz-linear-gradient(top center, $colorLight2x, $colorLight3x);
            -webkit-box-shadow: 0 -1px 8px $colorDark3x, 0 0 12px $colorLight5x inset;
            -moz-box-shadow: 0 -1px 8px $colorDark3x, 0 0 12px $colorLight5x inset;
            box-shadow: 0 -1px 8px $colorDark3x, 0 0 12px $colorLight5x inset;
        }
        .left .panel {
            background: -webkit-gradient(linear, left top, right top, from($colorLight3x), to($colorLight2x));
            background: -moz-linear-gradient(left center, $colorLight3x, $colorLight2x);
        }
        .right .panel {
            background: -webkit-gradient(linear, left top, right top, from($colorLight2x), to($colorLight3x));
            background: -moz-linear-gradient(left center, $colorLight2x, $colorLight3x);
        }
        .left .panel, .right .panel {
            -webkit-box-shadow: 0 0 6px $colorLight5x inset;
            -moz-box-shadow: 0 0 6px $colorLight5x inset;
            -box-shadow: 0 0 6px $colorLight5x inset;
            // iPhone 4 and equivalent
            @media only screen and (max-device-width: 480px) {
                background-image: none;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                -box-shadow: none;
            }
        }

        // Links

        .panel a, .panel a:active, .panel a:visited, .panel a:hover,
        #header a, #header a:active, #header a:visited, #header a:hover,
        #footer a, #footer a:active, #footer a:visited, #footer a:hover {
            color: $colorAccentDark;
        }
        .panel a, .panel a:active, .panel a:visited, .panel a:hover {
            // iPhone 4 and equivalent
            @media only screen and (max-device-width: 480px) {
                color: $colorAccentLight;
            }
        }
    }
}
