/* HTML5 Boilerplate Resets
------------------------------------ */

    html {
        overflow-y: visible;
    }
    ::-moz-selection {
        background: rgba(195,255,98,0.5); /* light green */
        color: #0d0d0d;
        text-shadow: none;
    }
    ::selection {
        background: rgba(195,255,98,0.5); /* light green */
        color: #0d0d0d;
        text-shadow: none;
    }
    a:link {
        -webkit-tap-highlight-color: rgba(195,255,98,0.5); /* light green */
    }

/* Common Elements
------------------------------------ */

    form {
        display: inline; /* default is block display */
    }
    input:focus, textarea:focus, select:focus {
        outline-width: 0; /* removes blue border in webkit */
    }
    select {
        cursor: pointer;
    }

/* Table Module
------------------------------------ */

    /* css2 tables :: FF3+ SF3+ CH3+ IE8+ */

    .beeTable {
        display: table;
    }
    .beeTable.expand {
        width: 100%;
        height: 100%;
    }
    .beeTable div.row {
        display: table-row;
    }
    .beeTable div.cell {
        display: table-cell;
        vertical-align: top;
    }

    /* css2 table cells :: horizontal alignment */

    .beeTable div.cell.left {
        text-align: left;
    }
    .beeTable div.cell.center {
        text-align: center;
    }
    .beeTable div.cell.right {
        text-align: right;
    }

    /* css2 table cells :: vertical alignment */

    .beeTable div.cell.top {
        vertical-align: top;
    }
    .beeTable div.cell.middle {
        vertical-align: middle;
    }
    .beeTable div.cell.bottom {
        vertical-align: bottom;
    }

/* Matrix Module
------------------------------------ */

    /* css2 display inline blocks :: FF3+ SF3+ CH3+ IE8+ */

    .beeMatrix > div {
        display: inline-block;
    }
    .beeMatrix.top > div {
        vertical-align: top;
    }
    .beeMatrix.middle > div {
        vertical-align: middle;
    }
    .beeMatrix.bottom > div {
        vertical-align: bottom;
    }

/* Multiple Column Module
------------------------------------ */

    /* css3 multi-column layout :: FF3+ SF3+ CH3+ */

    .beeColumn2 {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
    .beeColumn3 {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
    
    /* following values not yet supported */
    
    .beeColumn2 h1, .beeColumn3 h1 {
        /* -webkit-column-break-before: always; */
        -webkit-column-break-after: avoid;
        -webkit-column-break-inside: avoid;
        /* -moz-column-break-before: always; */
        -moz-column-break-after: avoid;
        -moz-column-break-inside: avoid;
        /* column-break-before: always; */
        column-break-after: avoid;
        column-break-inside: avoid;
    }

/* Rounded Corner Module
------------------------------------ */

    /* css3 rounded corners :: FF3+ SF3+ CH4+ IE9+ */

    .beeRound5 {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    .beeRound8 {
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
    }
    .beeRound10 {
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }
    .beeRound15 {
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
    }
    .beeRound20 {
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
    }

/* Animation Module
------------------------------------ */

    /* css3 transforms :: FF3.5+ SF3+ CH3+ */
    /* css3 transitions :: FF4+ SF3+ CH3+ */
    /* css3 animations :: SF4+ CH4+ */
    /* css3 3d transforms :: SF5+ */

    .beeFlip {
        position: relative;
        -webkit-perspective: 1000;
    }
    .beeFlip .flip {
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -webkit-transition: 0.75s;
    }
    .beeFlip .front {
        z-index: 5;
    }
    .beeFlip:hover .front {
        z-index: 5;
        -webkit-transform: rotateY(180deg);
    }
    .beeFlip .back {
        z-index: 0;
        -webkit-transform: rotateY(-180deg);
    }
    .beeFlip:hover .back {
        z-index: 10;
        -webkit-transform: rotateY(0deg);
    }

/* iPhone 4 and equivalent
------------------------------------ */

@media only screen and (max-device-width: 480px) {
    .beeColumn2, .beeColumn3 {
        -webkit-column-count: auto;
        -moz-column-count: auto;
        column-count: auto;
    }
}
