/* Multiple Column Module
------------------------------------ */
/* Rounded Corner Module
------------------------------------ */
/* Shadow Module
------------------------------------ */
/* HTML5 Boilerplate Resets
------------------------------------ */
::-moz-selection {
  background: rgba(195, 255, 98, 0.5);
  color: #0d0d0d;
}

::selection {
  background: rgba(195, 255, 98, 0.5);
  color: #0d0d0d;
}

body.beeDark {
  /* Common Elements
  ------------------------------------ */
  color: #ededed;
  background-color: #333333;
  background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#404040));
  background: -moz-linear-gradient(top center, #333333, #404040);
  text-shadow: 0 -1px 1px black;
  /* Shadow Module
  ------------------------------------ */
  /* Layout Elements
  ------------------------------------ */
}
body.beeDark hr {
  border-top: 1px solid #bababa;
}
body.beeDark a, body.beeDark a:active, body.beeDark a:visited, body.beeDark a:hover {
  color: #c3ff62;
}
body.beeDark select, body.beeDark input, body.beeDark textarea {
  color: #ededed;
  background-color: #333333;
  border: 1px solid #ededed;
}
body.beeDark .beeShadow {
  margin: 10px;
  -webkit-box-shadow: 0 0 10px 0 #ededed;
  -moz-box-shadow: 0 0 10px 0 #ededed;
  box-shadow: 0 0 10px 0 #ededed;
}
body.beeDark .beeFlex .panel, body.beeDark .beeFlex #header, body.beeDark .beeFlex #footer {
  color: #333333;
  background-color: #ededed;
  text-shadow: 0 1px 1px white;
}
@media only screen and (max-device-width: 480px) {
  body.beeDark .beeFlex .panel {
    color: #ededed;
    background-color: transparent;
    text-shadow: 0 -1px 1px black;
  }
}
body.beeDark .beeFlex #header {
  background: -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#ededed));
  background: -moz-linear-gradient(top center, #e0e0e0, #ededed);
  -webkit-box-shadow: 0 1px 8px 0 #1a1a1a, inset 0 0 12px 0 #bababa;
  -moz-box-shadow: 0 1px 8px 0 #1a1a1a, inset 0 0 12px 0 #bababa;
  box-shadow: 0 1px 8px 0 #1a1a1a, inset 0 0 12px 0 #bababa;
}
body.beeDark .beeFlex #footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#e0e0e0));
  background: -moz-linear-gradient(top center, #ededed, #e0e0e0);
  -webkit-box-shadow: 0 -1px 8px 0 #272727, inset 0 0 12px 0 #bababa;
  -moz-box-shadow: 0 -1px 8px 0 #272727, inset 0 0 12px 0 #bababa;
  box-shadow: 0 -1px 8px 0 #272727, inset 0 0 12px 0 #bababa;
}
body.beeDark .beeFlex .left .panel {
  background: -webkit-gradient(linear, left top, right top, from(#e0e0e0), to(#ededed));
  background: -moz-linear-gradient(left center, #e0e0e0, #ededed);
}
body.beeDark .beeFlex .right .panel {
  background: -webkit-gradient(linear, left top, right top, from(#ededed), to(#e0e0e0));
  background: -moz-linear-gradient(left center, #ededed, #e0e0e0);
}
body.beeDark .beeFlex .left .panel, body.beeDark .beeFlex .right .panel {
  -webkit-box-shadow: inset 0 0 6px 0 #bababa;
  -moz-box-shadow: inset 0 0 6px 0 #bababa;
  box-shadow: inset 0 0 6px 0 #bababa;
}
@media only screen and (max-device-width: 480px) {
  body.beeDark .beeFlex .left .panel, body.beeDark .beeFlex .right .panel {
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -box-shadow: none;
  }
}
body.beeDark .beeFlex .panel a, body.beeDark .beeFlex .panel a:active, body.beeDark .beeFlex .panel a:visited, body.beeDark .beeFlex .panel a:hover,
body.beeDark .beeFlex #header a, body.beeDark .beeFlex #header a:active, body.beeDark .beeFlex #header a:visited, body.beeDark .beeFlex #header a:hover,
body.beeDark .beeFlex #footer a, body.beeDark .beeFlex #footer a:active, body.beeDark .beeFlex #footer a:visited, body.beeDark .beeFlex #footer a:hover {
  color: #619e00;
}
@media only screen and (max-device-width: 480px) {
  body.beeDark .beeFlex .panel a, body.beeDark .beeFlex .panel a:active, body.beeDark .beeFlex .panel a:visited, body.beeDark .beeFlex .panel a:hover {
    color: #c3ff62;
  }
}
