/* Options :: Margins, Padding, Widths
------------------------------------ */

    .beeFlex #header,
    .beeFlex #footer {
        padding: 20px;
    }
    .beeFlex #extra {
        padding: 0 20px 20px 20px;
    }
    .beeFlex #main, .beeFlex #main section.center,
    .beeFlex #header section.center,
    .beeFlex #footer section.center,
    .beeFlex #extra section.center {
        margin: 0 20px;
    }
    .beeFlex #header aside, .beeFlex #footer aside, .beeFlex #extra aside, .beeFlex #main aside {
        min-width: 100px;
        max-width: 200px;
        /* could be set to a fixed width instead - if fixed width sidebars are desired */
    }
    .beeFlex .beeColumnBrowse section {
        padding: 0 10px;
    }
    .beeFlex .beeColumnBrowse section:first-child {
        padding-left: 0;
    }
    .beeFlex .beeColumnBrowse section:last-child {
        padding-right: 0;
    }

/* iPhone 4 and equivalent
------------------------------------ */

@media only screen and (max-device-width: 480px) {
    .beeFlex #header,
    .beeFlex #footer {
        padding: 5px;
    }
    .beeFlex #extra {
        padding: 0 5px 5px 5px;
    }
    .beeFlex #footer {
        margin: 10px 0 0 0;
    }
    .beeFlex #main {
        margin: 0 5px;
    }
    .beeFlex #main section.center,
    .beeFlex #header section.center,
    .beeFlex #footer section.center,
    .beeFlex #extra section.center {
        margin: 0;
    }
    .beeFlex #header aside, .beeFlex #footer aside, .beeFlex #extra aside, .beeFlex #main aside {
        min-width: inherit;
        max-width: inherit;
        /* reset any min-width/max-width here - set to: auto */
        /* reset any fixed width here - set to: auto */
    }
}

/* Options :: Aside Hide/Show
------------------------------------ */

.toggleSidebars {
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin: -10px -5px;
}
.toggleSidebars.out,
.beeLight .toggleSidebars.out {
    background: url(../images/options/showhide.png) no-repeat 0 0;
}
.toggleSidebars.in,
.beeLight .toggleSidebars.in {
    background: url(../images/options/showhide.png) no-repeat 0 -32px;
}
.beeDark .toggleSidebars.out {
    background: url(../images/options/showhide.png) no-repeat -32px 0;
}
.beeDark .toggleSidebars.in {
    background: url(../images/options/showhide.png) no-repeat -32px -32px;
}
