/* Common Elements
------------------------------------ */

    /* css3 text shadows :: FF3.5+ SF4+ CH3+ */

    .glow.green {
        color: #80994c;
        text-shadow: 0 0 2px #1a1a1a, 0 0 4px #80994c;
    }
    .glow.purple {
        color: #4c5499;
        text-shadow: 0 0 2px #1a1a1a, 0 0 4px #4c5499;
    }
    .glow.gray {
        color: #999;
        text-shadow: 0 0 2px #1a1a1a, 0 0 4px #999;
    }
    .glow.red {
        color: #990f0f;
        text-shadow: 0 0 2px #1a1a1a, 0 0 4px #990f0f;
    }
    .glow.amber {
        color: #bf7a0a;
        text-shadow: 0 0 2px #1a1a1a, 0 0 4px #bf7a0a;
    }

/* Layout Elements
------------------------------------ */

    /* css3 box shadows :: FF3.5+ SF3+ CH3+ */

    div.glow, div.pad { /* divs that don't glow still need to line up with glowing ones */
        margin: 10px;
    }
    div.glow.green {
        border: 1px solid #80994c;
        -webkit-box-shadow: 0 0 10px #80994c;
        -moz-box-shadow: 0 0 10px #80994c;
        box-shadow: 0 0 10px #80994c;
    }
    div.glow.purple {
        border: 1px solid #4c5499;
        -webkit-box-shadow: 0 0 10px #4c5499;
        -moz-box-shadow: 0 0 10px #4c5499;
        box-shadow: 0 0 10px #4c5499;
    }
    div.glow.gray {
        border: 1px solid #999;
        -webkit-box-shadow: 0 0 10px #999;
        -moz-box-shadow: 0 0 10px #999;
        box-shadow: 0 0 10px #999;
    }
    div.glow.red {
        border: 1px solid #990f0f;
        -webkit-box-shadow: 0 0 10px #990f0f;
        -moz-box-shadow: 0 0 10px #990f0f;
        box-shadow: 0 0 10px #990f0f;
    }
    div.glow.amber {
        border: 1px solid #bf7a0a;
        -webkit-box-shadow: 0 0 10px #bf7a0a;
        -moz-box-shadow: 0 0 10px #bf7a0a;
        box-shadow: 0 0 10px #bf7a0a;
    }
    div.glow.green, div.glow.purple, div.glow.gray, div.glow.red, div.glow.amber {
        color: #f2f2f2; /* reset */
        text-shadow: none; /* reset */
    }
    
    #header div.glow:first-child, #footer div.glow:first-child {
        margin: 20px 15px;
    }
    #main .cell:first-child div.glow:first-child {
        margin-left: 15px;
        /* margin-right: 5px; */
    }
    #main .cell:last-child div.glow:first-child {
        margin-right: 15px;
        /* margin-left: 5px; */
    }

/* Scratch
------------------------------------ */

    .cell {
        border: 0 none;
    }
    #main .content:last-child .cell p {
        margin: 16px;
    }
