/* Layout Elements
------------------------------------ */

    #main .cell div.glow:first-child {
        height: 450px;
        overflow-y: auto;
    }
    #main .content:first-child .cell div.glow {
        height: 48px; /* account for 25px top/bottom margins and px borders */
        overflow-y: visible;
    }
    