/* Page Structure
------------------------------------ */

    div.scroll {
        height: 450px; /* height reset by flex-scroll js */
        overflow-y: auto;
    }
    
    /* iphone / ipod touch */
    
    @media only screen and (max-device-width: 480px) {
        div.scroll {
            height: auto;
            overflow-y: visible;
        }
    }
    
    /* ipad */
    
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        div.scroll {
            height: auto;
            overflow-y: visible;
        }
    }
